/* MapComponent.css */
.map-container {
  display: flex;
  height: 100%; /* Ajusta la altura según sea necesario */
  margin: 0; /* Elimina los márgenes */
  width: 100%; /* Ocupa todo el ancho */
}

.map {
  flex-grow: 1;
  height: 100%;
  width: 100%;
}
