/* MapComponent.css */
.map-container {
  display: flex;
  height: 100vh; /* Ajusta la altura según sea necesario */
}

.map {
  flex-grow: 1;
  height: 100%;
}

.sidebar {
  width: 350px;
  background-color: #f8f9fa;
  padding: 5px;
  height: 100%;
  overflow: auto;
}

.funciones {
  border: 1px solid #ccc;
}

.capas {
  border: 1px solid #ccc;
}