/* ScaleBarControl.css */
.scale-bar-options {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.scale-bar-options label {
  margin-bottom: 5px;
}

.ol-scale-bar-inverted {
  background-color: black;
  color: white;
}