/* ScaleBarControl.css */
.scale-bar-container {
  position: absolute;
  bottom: 100px;
  z-index: 1000; /* Asegúrate de que el control de escala esté por encima del mapa */
}

.scale-bar-options {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
}

.scale-bar-options label {
  display: block;
  margin-bottom: 5px;
}

.scale-bar-options select,
.scale-bar-options input[type="range"],
.scale-bar-options input[type="checkbox"] {
  margin-left: 10px;
}