/* Sidebar.css */
.sidebar {
  height: 100%;
  background-color: #f4f4f4;
  border-right: 1px solid #ccc;
  margin: 0; /* Añadido */
  padding: 0; /* Añadido */
}

.sidebar h3 {
  margin-top: 0;
  margin-bottom: 0; /* Añadido */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0; /* Añadido */
}

.sidebar li {
  margin-bottom: 0; /* Modificado */
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0; /* Añadido */
  padding: 0; /* Añadido */
}