/* Sidebar.css */
.sidebar {
  position: fixed;
  top: 50px;
  right: 10px;
  border-radius: 5px;
  z-index: 1000; /* Asegúrate de que el sidebar esté por encima del mapa */
}

.sidebar h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 0;
}

.sidebar .dropdown-menu-scrollable {
  max-height: 200px;
  overflow-y: auto;
}

.layers-section h3 {
  margin: 0;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}

.list-group {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
}

.list-group-item {
  padding: 10px;
  border-bottom: 1px solid #dee2e6;
}

.form-check-input {
  margin-right: 10px;
}

.layer-visible {
  background-color: #d3d3d3 !important; /* Color gris para las capas visibles */
}