/* Sidebar.css */
.sidebar {
  position: fixed;
  top: 10px;
  right: 100px;
  border-radius: 5px;
  z-index: 1000; /* Asegúrate de que el sidebar esté por encima del mapa */
  padding: 10px;
  background-color: white; /* Fondo blanco para el sidebar */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para el sidebar */
}

.sidebar h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.sidebar .dropdown-menu-scrollable {
  max-height: 500px; /* Aumenta la altura máxima */
  overflow-y: auto;
}

.layer-visible {
  background-color: #d3d3d3 !important; /* Color gris para las capas visibles */
  font-weight: bold;
}

.dropdown-search {
  padding: 10px;
}

.search-input {
  margin: 10px;
  padding: 5px;
  width: calc(100% - 20px);
  box-sizing: border-box;
}

.layer-category {
  margin-bottom: 15px; /* Espacio entre categorías */
}

.layer-category h5 {
  margin: 10px 0; /* Espacio alrededor del título de la categoría */
  padding: 5px;
  background-color: #f0f0f0; /* Fondo gris claro para el título de la categoría */
  border-radius: 3px; /* Bordes redondeados para el título de la categoría */
  font-size: 16px; /* Tamaño de fuente para el título de la categoría */
}

.layer-category .dropdown-item {
  padding: 5px 10px; /* Espacio interno para los elementos de la lista */
  cursor: pointer; /* Cambia el cursor al pasar sobre los elementos */
}

.layer-category .dropdown-item:hover {
  background-color: #e0e0e0; /* Fondo gris claro al pasar sobre los elementos */
}