.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.left-bar, .right-bar {
  width: 200px; /* Ajusta el ancho según tus necesidades */
  background-color: #f0f0f0; /* Color de fondo para distinguir las barras */
}

.left-bar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

.right-bar {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
}

.map-container {
  margin-left: 200px; /* Debe coincidir con el ancho de .left-bar */
  margin-right: 200px; /* Debe coincidir con el ancho de .right-bar */
  flex-grow: 1;
  background-color: #e0e0e0; /* Color de fondo para distinguir el área del mapa */
  height: 100vh;
}
