.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.map-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container-fluid {
  height: 50%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.row {
  flex-grow: 1;
  flex: 1;
  display: flex;
}

#map {
  width: 100%;
  height: 100%;
}

.sidebar {
  height: 100%;
  background-color: #f4f4f4;
  padding: 10px;
  border-left: 1px solid #ccc;
}

.col-10 {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.col-2 {
  width: 250px; /* Ajusta el ancho de la barra lateral según sea necesario */
}

.navbar {
  height: 50px; /* Ajusta la altura de la barra superior */
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content-row {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.sidebar-container {
  width: 250px; /* Ajusta el ancho de la barra lateral según sea necesario */
  overflow-y: auto;
}
